@import url("base.css");

/* auth page layout */

body {
  background: linear-gradient(
    135deg,
    var(--color-primary-bg),
    var(--color-secondary-bg)
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-3xl) var(--spacing-md);
}

/* auth section styling*/

.auth-page-text {
  text-align: center;
  margin-bottom: var(--spacing-md);
  width: 100%;
  max-width: 400px;
}

.auth-text-heading {
  font-family: var(--font-display);
  font-size: var(--heading-h3);
  font-weight: var(--font-weight-extrabold);
  color: var(--color-primary);
  margin-bottom: var(--spacing-sm);
}

.auth-text-para {
  font-size: var(--font-size-sm);
  color: var(--color-support);
  font-weight: var(--font-weight-medium);
}

/* auth form styling*/

.auth-form {
  background: var(--color-white);
  border-radius: var(--radius-lg);
  padding: var(--spacing-4xl) var(--spacing-2xl);
  max-width: 400px;
  width: 100%;
  box-shadow: var(--shadow-lg);
  border: var(--border-width-thin) solid var(--color-primary-bg);
}

.auth-field {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.auth-form-heading {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-extrabold);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-support);
  margin-bottom: var(--spacing-md);
  padding: 0;
}

/* auth footer styling */

.auth-footer {
  text-align: center;
  margin-top: var(--spacing-2xl);
  padding-top: var(--spacing-lg);
  border-top: var(--border-width-thin) solid var(--color-primary-bg);
  width: 100%;
  max-width: 400px;
}

.auth-footer-text {
  font-size: var(--font-size-sm);
  color: var(--color-gray-700);
}

.redirect-link {
  color: var(--color-primary);
  font-weight: var(--font-weight-semibold);
  transition: var(--transition-base);
  &:hover {
    color: var(--color-secondary);
    text-decoration: none;
  }
}

/* project footer styling */

.site-footer {
  margin-top: auto;
}

/* responsiveness */

@media (max-width: 640px) {
  .auth-page {
    padding: var(--spacing-2xl) var(--spacing-sm);
  }

  .auth-text-heading {
    font-size: var(--heading-h4);
  }

  .auth-page-text {
    margin-bottom: var(--spacing-2xl);
  }

  .auth-form {
    padding: var(--spacing-2xl) var(--spacing-lg);
  }

  .form-group input {
    padding: var(--spacing-md);
    font-size: var(--font-size-md);
  }

  .submit-btn {
    padding: var(--spacing-md);
  }
}
